[Desktop Entry]
#Encoding=UTF-8
#TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V10; lxterminal --geometry=72x15 -e sudo sh ejecutar_bm.sh'
Icon=/home/pi/V10/DMR.png
Type=Application
#StartupNotify=false
#Categories=GTK;Utility;TerminalEmulator;
#Terminal=false
Name=/home/pi/Desktop/Abrir_MMDVMBM.desktop/Abrir Brandmeister
#Hidden=false
#Comment[es_ES]=EA3EIZ