[Desktop Entry]
SCRIPTS_version=$(awk "NR==1" $usuario/.config/autostart/version)
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/$SCRIPTS_version; lxterminal --geometry=72x15 -e sudo sh ejecutar_bm.sh'
Icon=/home/pi/$SCRIPTS_version/ICONO_BM_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Abrir BM
Hidden=false
Comment[es_ES]=EA3EIZ