[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/ubuntu/V10;lxterminal --geometry=60x20 -e sudo sh  actualiza_imagen_ubuntu.sh"
Icon=/home/ubuntu/V10/ICONO_ACTUALIZAR_IMAGEN.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[en]=Actualizar IMAGEN
Hidden=false
X-KeepTerminal=true
