[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/pi/V10;lxterminal --geometry=45x10 -e sudo sh  actualiza_imagen.sh"
Icon=/home/pi/V10/ICONO_NEGRO.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Actualizar IMAGEN
Hidden=false
X-KeepTerminal=true
