[Desktop Entry]
Name=Editar YSF
Comment=EA3EIZ
Exec=sh -c "cd /home/pi/V7;lxterminal --geometry=80x30 -e sh editar_YSF.sh"
Icon=/home/pi/V10/ICONO_EDITAR_YSF.png
Type=Application
Terminal=false
Comment[es_ES]=
Name[es_ES]=Editar YSF
Icon=/home/pi/V7/editar_C4FM.png
